<!-- Home Header -->
    <app-header></app-header>
<!-- Home Header End -->

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
        <img src="assets/img/breadcrumb-bg.jpg" alt="">
    </section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg">
                            <img src="assets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> Ngày 16 tháng 2 năm 2020</span>
                            <h5>Hướng đến mục tiêu cao hơn của Mastopexy</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg">
                            <img src="assets/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Ban nhạc vĩnh cửu tồn tại mãi mãi</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg">
                            <img src="assets/img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>Lợi ích sức khỏe của kính râm</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-4.jpg">
                            <img src="assets/img/blog/blog-4.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>Hướng đến mục tiêu cao hơn của Mastopexy</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-5.jpg">
                            <img src="assets/img/blog/blog-5.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Nhẫn Cưới Món Quà Để Đời</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="assets/img/blog/blog-6.jpg">
                            <img src="assets/img/blog/blog-6.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>Các phương pháp tẩy lông khác nhau</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-7.jpg">
                            <img src="assets/img/blog/blog-7.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>Phẫu thuật mắt Lasik Bạn đã sẵn sàng chưa</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-8.jpg">
                            <img src="assets/img/blog/blog-8.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Phẫu thuật mắt Lasik Bạn đã sẵn sàng chưa</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-9.jpg">
                            <img src="assets/img/blog/blog-9.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <span><img src="assets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>Lasik Eye Surgery Are You Ready</h5>
                            <a href="#">Đọc Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Blog Section End -->

<!-- Footer -->
    <app-footer></app-footer>
<!-- Footer End -->