<div class="login">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="signForm">
        <h3>Đăng Ký</h3>

        <div [class.error]="signForm.controls['username'].dirty && signForm.hasError('required', 'username')">
            <label for="username">Tên Đăng Nhập :</label>
            <input type="text" formControlName="username">
        </div>
        <small *ngIf="signForm.controls['username'].dirty && signForm.hasError('required', 'username')" class="text-bg-danger"> Vui lòng nhập tên đăng nhập</small>
        
        <div [class.error]="signForm.controls['password'].dirty && signForm.hasError('required', 'password')">
            <label for="password">Mật Khẩu :</label>
            <input type="password" formControlName="password"> 
        </div>
        <small *ngIf="signForm.controls['password'].dirty && signForm.hasError('required', 'password')" class="text-bg-danger"> Vui lòng nhập mật khẩu</small>

        <div [class.error]="signForm.controls['fullname'].dirty && signForm.hasError('required', 'fullname')">
            <label for="fullname">Họ và Tên : </label>
            <input type="text" formControlName="fullname">
        </div>
        <small *ngIf="signForm.controls['fullname'].dirty && signForm.hasError('required', 'fullname')" class="text-bg-danger"> Vui lòng nhập họ và tên</small>

        <div [class.error]="signForm.controls['email'].dirty && signForm.hasError('required', 'email')">
            <label for="email">Email : </label>
            <input type="email" formControlName="email">
        </div>
        <small *ngIf="signForm.controls['email'].dirty && signForm.hasError('required', 'email')" class="text-bg-danger"> Vui lòng nhập email</small>

        <div [class.error]="signForm.controls['telephone'].dirty && signForm.hasError('required', 'telephone')">
            <label for="telephone">Số Điện Thoại : </label>
            <input type="number" formControlName="telephone">
        </div>
        <small *ngIf="signForm.controls['telephone'].dirty && signForm.hasError('required', 'telephone')" class="text-bg-danger"> Vui lòng nhập số điện thoại</small>

        <div [class.error]="signForm.controls['location'].dirty && signForm.hasError('required', 'location')">
            <label for="location">Địa Chỉ : </label>
            <input type="text" formControlName="location">
        </div>
        <small *ngIf="signForm.controls['location'].dirty && signForm.hasError('required', 'location')" class="text-bg-danger"> Vui lòng nhập địa chỉ</small>

        <button (click)="onSign()">Đăng Ký</button>
        <br>        <br>
        <p class="message text-danger" *ngIf="msg">{{ msg }}</p>
        <div class="social">
            <div class="go">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 488 512">
                    <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
                </svg>
                Google
            </div>
            <div class="fb">    
                <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512">
                    <style>svg{fill:#354f7e}</style>
                    <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/>
                </svg>
                Facebook
            </div>        
        </div>
    </form>
</div>