<!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">VND</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Đăng Nhập <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li><p routerLink="/login">Đăng Nhập</p></li>
                                    <li><p routerLink="/register">Đăng Ký</p></li>
                                    <li>Đăng Xuất</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a routerLink="/"><img class="header_logo" src="assets/img/logo_menu_scroll.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a routerLink="/">Trang Chủ</a></li>
                            <li><a routerLink="/product">Cửa Hàng</a></li>
                            <li><a href="#">Trang</a>
                                <!-- <ul class="dropdown">
                                    <li><a routerLink="/about"> Giới Thiệu </a></li>
                                    <li><a routerLink="/product-details">CT Sản Phẩm</a></li>
                                    <li><a routerLink="/shopping-cart">Giỏ Hàng</a></li>
                                    <li><a routerLink="/check-out">Thanh Toán</a></li>
                                    <li><a routerLink="/blog-details">CT Tin Tức</a></li>
                                </ul> -->
                            </li>
                            <li><a routerLink="/blog">Tin Tức</a></li>
                            <li><a routerLink="/contact">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="assets/img/icon/search.png" alt=""></a>
                        <a routerLink="/farourit"><img src="assets/img/icon/heart.png" alt=""></a>
                        <a routerLink="/shopping-cart"><img src="assets/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
<!-- Header Section End -->